<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.lblbc.blog">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="cn.lblbc.blog.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="cn.lblbc.blog.ui.activity.BlogListActivity"
            android:exported="true"
            android:theme="@style/LblTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.lblbc.blog.ui.activity.LoginActivity"
            android:theme="@style/LblTheme" />
        <activity android:name="cn.lblbc.blog.ui.activity.EditBlogActivity" />
        <activity android:name="cn.lblbc.blog.ui.activity.AddBlogActivity" />
    </application>

</manifest>